<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ app_name }}</title>
</head>
<body>
  <h1>{{ app_name }}</h1>

  <p>Environnement : {{ env }}</p>

  <p>Auteur : {{ author }}</p>
</body>
</html>